* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 450px;
  font-family:Arial, Helvetica, sans-serif
}

.countryContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 8px;
}

button{
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #E1DED7;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%
}

.content{
  display:flex; 
  flex-direction: column; 
  width: 100%;
  gap: 8px;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}


.tile {
  display: flex;
  border: none;
  border-radius: 5px;
  background-color: #E1DED7;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-top: 0
}

.countryName{
  background-color: black;
  color: white;
  font-size: 3em;
  font-weight: 800;
  width: 75%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.countryCurrency {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1em;
  width: 25%;
  padding: 20px
}
.countryCurrency > span{
  font-size: 3.5em;
  font-weight: 800;
}
.countryCurrency > p{
  margin:0;
  font-weight: 700;
  font-size: 0.75em;
}
.countryCOA{
  padding: 0;
}
.countryCOA img {
  max-width: 125px;
  width:100%;
  height: auto;
}
.countryFlag {
  
  border-radius: 5px;
  width: 100%;
  /* height: auto; */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
/* .countryFlag img{
  width: 100%;
  height: auto;
  display: block
} */

.clicked{
  background-color: black;
  color: white;
}


/* ----- MEDIA QUERIES ----- */

@media (max-width: 767px) {
  .wrapper {
      text-align: center;
  }

  

}
